<a href="https://colab.research.google.com/github/mahaairshad/CE888_si19783/blob/master/Lab5/my_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab5: Recommender**

In [0]:
import pandas as pd
import numpy as np
from IPython.display import Image
np.set_printoptions(precision = 3)

In [74]:
df = pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab5-recommender/jester-data-1.csv',header=None)
print(df)

       0      1      2      3      4    ...    96     97     98     99     100
0       74  -7.82   8.79  -9.66  -8.16  ...  99.00  -5.63  99.00  99.00  99.00
1      100   4.08  -0.29   6.36   4.37  ...  -2.14   3.06   0.34  -4.32   1.07
2       49  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
3       48  99.00   8.35  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
4       91   8.50   4.61  -4.17  -5.39  ...   1.55   3.11   6.55   1.80   1.60
...    ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
24978  100   0.44   7.43   9.08   2.33  ...   9.03   6.55   8.69   8.79   7.43
24979   91   9.13  -8.16   8.59   9.08  ...  -8.20  -7.23  -8.59   9.13   8.45
24980   39  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
24981   37  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
24982   72   2.43   2.67  -3.98   4.27  ...  99.00  99.00  99.00  99.00  99.00

[24983 rows x 101 columns]

In [0]:
joke_count=df[0]
df=df.drop(columns=0)

In [0]:
data=df.values

In [77]:
data.shape

(24983, 100)

# Separate 10% data for validation set by assigning 99 (NaN)

In [0]:
def replace(orig, percentage=0.1):
  """
  Replaces 'percentage'% of the original values in 'orig' with 99's
  :param orig: original data array
  :param percentage: percentage of values to replace (0<percentage<1)
  """
  new_data = orig.copy()
  rated = np.where(data!=99) #ignoring all the ratings that were never available for the test guys
  n_rated = len(rated[0])
  idx = np.random.choice(n_rated, size=int(percentage*n_rated), replace=False)
  new_data[rated[0][idx], rated[1][idx]] = 99
  return new_data, (rated[0][idx], rated[1][idx])

In [0]:
new_data, idx = replace(data, 0.1)

In [0]:
Actual_data=data.copy() #all the data with the actual rating [rows=users],[columns=items/products]

In [0]:
Train_data=new_data.copy() #10% of values from 'data' set to 99 to be used as test data later [rows=users],[columns=items/products]

In [83]:
Actual_data.shape

(24983, 100)

#Inferring hidden ratings by latent factor modeling

In [0]:
def predict_rating(user_row,item_row):
  user_values=user_preferences[user_row]
  item_values=item_factors[item_row]
  return user_values.dot(item_values)

In [0]:
def train(user_row, item_row, rating, alpha):
  err= rating - predict_rating(user_row, item_row)
  temp= user_preferences[user_row]
  user_preferences[user_row] += alpha * err * item_factors[item_row]
  item_factors[item_row] += alpha * err * temp
  return err

In [0]:
def sgd_svd(iterations,alpha):
  for i in range(iterations):
    error=[]
    for user_row in range (user_preferences.shape[0]):
      for item_row in range (item_factors.shape[0]):
        rating= user_ratings[user_row][item_row]
        if rating != 99:
          err=train(user_row, item_row, rating, alpha)
          error.append(err)
  mse = (np.array(error) ** 2).mean()          
  print(mse)

#Changing hyper-parameters for better results

In [0]:
# Evaluating recommender on test data
def eval_on_ValData():
  error=[]
  pred=user_preferences.dot(item_factors.T)
  error=Actual_data[idx]-pred[idx]
  mse = (np.array(error) ** 2).mean()
  print(mse)

Latent factors=2, Learning rate = 0.0001, No. of SVD iter = 5

In [88]:
latent_factors=2
user_preferences=np.random.rand(len(Train_data[:,0]),latent_factors) #creating random array of same shape as that of Train_data
item_factors=np.random.rand(len(Train_data[0,:]),latent_factors)
user_ratings = Train_data.copy() 
for _ in range(10):
  sgd_svd(5,0.0001)   # reduced no. of iterations to 5 to reduce processing time

24.550659715878115
23.459905228496048
22.374765618134
21.22807216969058
19.69990671221712
18.239598247487425
17.573259923405104
17.325741547639904
17.214513710204223
17.156038787406345

In [115]:
eval_on_ValData() #Test on Validation Data

18.181513066140308

Latent factors=4, Learning rate = 0.0001, No. of SVD iter = 5

In [116]:
latent_factors=4
user_preferences=np.random.rand(len(Train_data[:,0]),latent_factors) #creating random array of same shape as that of Train_data
item_factors=np.random.rand(len(Train_data[0,:]),latent_factors)
for _ in range(10):
  sgd_svd(5,0.0001)

24.6372665000038
24.037620837198574
23.33996276657925
22.205649385458067
20.015836079514337
18.22466212834178
17.629007364798944
17.408762514589476
17.28439529279141
17.189563803175552

In [117]:
eval_on_ValData()

18.152446119603542

Latent factors=6, Learning rate = 0.0001, No. of SVD iter = 10

In [124]:
latent_factors=6
user_preferences=np.random.rand(len(Train_data[:,0]),latent_factors) #creating random array of same shape as that of Train_data
item_factors=np.random.rand(len(Train_data[0,:]),latent_factors)
for _ in range(10):
  sgd_svd(10,0.0001)

24.28379285109353
21.992007231090035
17.970908036896823
17.441760541292098
17.133386280559158
16.71002930992531
16.189414352588894
15.728652329394611
15.387871386533345
15.14059080501432

In [125]:
eval_on_ValData()

17.144824666404638

#Visual Comparison

In [0]:
Compar=np.empty(data.shape,dtype=object)
for user_row in range (user_preferences.shape[0]):
    for item_row in range (item_factors.shape[0]):
      rating= Actual_data[user_row][item_row]
      pred_rating=predict_rating(user_row,item_row)
      Compar[user_row][item_row]=str(rating)+"|"+str(np.round(pred_rating,decimals=2))

In [127]:
import pandas as pd

df = pd.DataFrame(data=Compar)
df.head(5)

            0           1            2   ...          97          98          99
0  -7.82|-4.04  8.79|-4.41  -9.66|-5.74  ...  99.0|-2.68   99.0|-5.7  99.0|-2.97
1     4.08|4.4  -0.29|5.15    6.36|5.14  ...   0.34|3.72  -4.32|2.31   1.07|4.63
2    99.0|6.15   99.0|5.82    99.0|6.36  ...   99.0|5.82   99.0|6.82    99.0|6.6
3   99.0|-0.74   8.35|3.32    99.0|0.67  ...   99.0|4.81  99.0|-0.95    99.0|5.5
4     8.5|2.37   4.61|3.06   -4.17|2.74  ...   6.55|5.26    1.8|2.55    1.6|5.86

[5 rows x 100 columns]

#Finding best and worst rated jokes

In [128]:
#Taking mean of all the ratings for each joke to determine best to worst jokes
joke_rat=np.empty((data.shape[1],2), dtype=object)
for i in range (data.shape[1]):
  rat=[]
  for j in range (data.shape[0]):
    if (Actual_data[j][i]!=99):
      rat.append(Actual_data[j][i])
  joke_rat[i,0]="Joke:"+str(i)
  joke_rat[i,1]=np.mean(np.array(rat))

jk_ind=np.argsort(joke_rat[:,1])
jk_ind=jk_ind[::-1]
joke_rat=joke_rat[jk_ind,:]
df1 = pd.DataFrame(data=joke_rat)
print(df1)

          0        1
0   Joke:49  3.66508
1   Joke:88  3.57472
2   Joke:35   3.3125
3   Joke:26  3.18982
4   Joke:31  3.15599
..      ...      ...
95  Joke:12 -1.76288
96  Joke:56 -1.99066
97  Joke:43 -2.11189
98  Joke:15 -3.10482
99  Joke:57 -3.83388

[100 rows x 2 columns]